version: '3.8'
services:
  nyc-project-container:
    build: .
    container_name: nyc-front
    ports:
      - "3000:3000"
    restart: unless-stopped
  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata: